---
// Navbar.astro - Componente de navegación principal
import '../../styles/components/global/navbar.css';
---

<nav class="desktop-nav">
  <a href="/">Inicio</a>
  <a href="#servicios">Servicios</a>
  <a href="#proyectos">Proyectos</a>
  <a href="#nosotros">Nosotros</a>
  <a href="#contacto">Contacto</a>
</nav>